
flake8==7.0.0
black==23.12.1
autopep8==2.0.4

# Google API Packages
google-api-python-client==2.114.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# Scraping Packages
beautifulsoup4==4.12.3
lxml==5.1.0

# OpenAI API Packages
openai==1.8.0


# other packages
environs==10.3.0
requests==2.31.0